<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Auctions</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <header class="header">
      <nav class="navigation-bar">
        <span class="navigation-logo">
          <a href="{{ url_for('home') }}">Auctions</a>
        </span>
        <ul class="navigation-ul">
          <li class="navigation-item nav-l">
            <a href="{{ url_for('about') }}">About</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="navigation-item nav-r">
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="navigation-item nav-r">
              <a href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="navigation-item nav-r">
              <a href="{{ url_for('login') }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
