{% extends "index.html" %}
{% block content %}
<div class="login-form">
  <h1 class="form-header">Login</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-input") }}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-input") }}
      </div>
    </fieldset>
		<div class="form-group">
			{{ form.submit(class="form-submit") }}
		</div>
  </form>
	<span class="form-small">
		You do not have an account yet?
		<a href="{{ url_for('register') }}">Register now!</a>
	</span>
</div>
{% endblock %}
