body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #d2eaf0;
}

a {
  color: #8cdbce;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #cfbfbf;
}

h1 {
  margin-left: 50px;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
}

.navigation-bar {
  width: 100%;
  height: 45px;
  background: #384856;
  color: #dfdfdf;
  box-shadow: 0px 0px 10px 1px #141314;
}

.navigation-logo {
  float: left;
  margin: 10px 15px;
  display: inline;
  font-size: 19px;
  font-weight: bold;
}

.navigation-ul {
  display: inline;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navigation-item {
  display: inline;
  margin: 16px 10px 0;
}

.nav-l {
  float: left;
}

.nav-r {
  float: right;
}

.container {
  margin: auto 100px;
}

.login-form {
  width: 500px;
  height: 600px;
  background: #384856;
  margin: 50px auto;
  box-shadow: 0px 0px 10px 1px #141314;
  color: white;
}

.form-group {
  margin: auto;
  border: none;
  width: 220px;
}

.form-header {
  text-align: center;
  margin: 20px 0;
  padding: 25px 0 15px;
}

.form-label {
  display: block;
  margin: 4px;
}

.form-submit {
  background: #679496;
  width: 97%;
  height: 30px;
  border: 1px solid #8cdbce;
  color: white;
  border-radius: 3px;
  margin-top: 8px;
  font-family: monospace;
  transition: 0.3s;
}

.form-submit:hover {
  background: #55787a;
  cursor: pointer;
}

.form-small {
  word-break: break-all;
  display: block;
  text-align: center;
  width: 90%;
  margin: 20px auto;
  font-size: 11px;
}

.form-checkbox {
  margin-top: 12px;
}

.invalid {
  color: rgb(251, 141, 166);
  margin: 5px 0;
}

.alert {
  width: 300px;
  padding: 15px 40px;
  border-radius: 4px;
  margin: 50px auto;
  color: white;
  box-shadow: 0px 0px 10px 1px #141314;
}

.alert-success {
  background: rgba(65, 175, 98, 0.98);
}

.alert-failed {
  background: rgba(173, 43, 73, 0.98);
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .navigation-logo {
    margin-left: 50px;
  }

  .login-form {
    width: 85vw;
  }

  .container {
    margin: 10px !important;
  }

  .hamburger-parent {
    position: absolute;
    width: 26px;
    height: 19px;
    margin: 8px;
  }

  .hamburger-child {
    background: #8cdbce;
    height: 4px;
    top: -12px;
    position: relative;
  }

  .hamburger-child::before,
  .hamburger-child::after {
    content: " ";
    background: #8cdbce;
    width: 26px;
    height: 4px;
    display: inline-block;
    position: absolute;
    left: 0px;
  }

  .hamburger-child::after {
    top: 16px;
  }

  .hamburger-child::before {
    top: 8px;
  }

  .hamburger-parent ul.navigation-ul {
    transition: 0.3s;
    list-style-type: none;
    margin: 0 0 0 -350px;
    display: block;
    width: 300px;
    height: 100vh;
    background: #384856;
    padding: 0;
    box-shadow: 0px 10px 10px 0px #141314;
    position: relative;
    z-index: 1;
  }

  .hamburger-parent li.navigation-item {
    padding: 12px 0;
    text-align: center;
    transition: 0.3s;
    float: none;
    display: block;
  }

  .hamburger-parent:hover .navigation-ul {
    margin-left: -10px;
  }

  .hamburger-parent li:hover {
    background: #283540;
  }
}

.inline {
  display: inline-block !important;
}

.auction-container {
  background: whitesmoke;
  margin: 20px;
  padding: 2px 10px;
  border-radius: 4px;
}

.auction-title {
  color: #168080;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px;
  display: block;
}

.auction-description {
  font-size: 1.1em;
  background: #eceaea;
  padding: 6px;
  border-radius: 4px;
  display: block;
  width: 60%;
}

.auction-description_deep {
  font-size: 18px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 4px;
}

.auction-buy-now, .auction-call {
  height: 77px;
  float: right;
  margin-top: -62px;
  margin-left: 10px;
}

.auction-buy-now_deep, .auction-call_deep {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

.auction-buy-now-price, .auction-call-price {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  background: #eceaea;
  color: #384856;
  display: inline;
}

.auction-buy-now span, .auction-call span {
  display: block;
  margin-bottom: 13px;
}
